body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    align-content:center;
    justify-items:center;
    overflow: hidden;
    background-color: #0d131a;
}
.ladofilmes
{
    width: 60%;
    height: auto;   
}
.carrosels
{
    margin-top: 40px;
    width:100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll; 
}
.barra
{
    margin-left: 160px;
    margin-top: 80px;
    width: 90%;
    height: 5%;
    color:white;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    align-content:center;
    justify-items:center;
    font-size: 20px;
}
.esquerda
{
    width: 40%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
}
.tito
{
    margin-left: 50px;
    width:80%;
    height:20%;
    color:white;
    font-size:20px;
}
.caixa_larga
{
    width: 50%;
    height: 100%;
    font-size: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.escrita
{
    color: white;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
}
.carrossel1
{
    height: 250px;
    width: 90%;
    background-color: #111a25;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.123);
    transition: 1s;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    align-content:center;
    justify-items:center;
}
.carrossel1:hover
{
    background-color: #131d29;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.178);
}
.filmes
{
    height: 250px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imagem_filme
{
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.178);
    filter: brightness(90%);
    transition: 0.5s;
    border-radius: 10px;
}
.imagem_filme:hover
{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.226);
    filter: brightness(115%);
    border-radius: 5px;
}
::-webkit-scrollbar /* barra de rolagem */
{
    width: 14px;
    background-color: rgba(0, 2, 17, 0.082);
    z-index: 1;
}
  
::-webkit-scrollbar-thumb /* meio da barra de rolagem */
{
    background-color: #012d47;
    border-radius: 10px;
    z-index: 2;
}
::-webkit-scrollbar-thumb:hover
{
    background-color:#004974;
}