body,html
{
    padding: 0px;
    margin: 0px;
}
.botton 
{
  background-color: #00a2ff;
  color: white;
  text-align: center;
  width: 250px;
  height: 80px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 500px;
  left: 20%;
  font-family: monospace;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.botton1 
{
  background-color: #00a2ff;
  color: white;
  text-align: center;
  width: 250px;
  height: 80px;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: 500px;
  left: 50%;
  font-family: "roboto";
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.fundo
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 34, 73);
}
.lado
{
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: rgb(0, 35, 75)
}
