    body,html
        {
            width: 100vw;
            height: 100vh;
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: center;
        }
        .fundo
        {
            width: 100%;
            height: 100vh;
            background-color: rgb(12,12,12);
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: center;
            justify-content: space-around;
        }
        .meio
        {
            width: 30%;
            height: 70%;
            background-color: rgb(37, 37, 37);
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: center;
            justify-content: space-around;
            border-radius: 10px;
        }
        .botoes
        {
            width: 90%;
            height: 12%;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: center;
            justify-content: space-around;
            border-radius: 30%;
        }
        button
        {
            width: 45%;
            height: 100%;
            border-radius: 5px;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #0069a7;
            color: white;
        }
        .voltar
        {
            width: 45%;
            height: 100%;
            border-radius: 5px;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #cfcfcf;
            color: rgb(0, 0, 0);
        }
        button.voltar:hover
        {
            background-color:  #eeeeee;;
            color: rgb(0, 0, 0);
            cursor: pointer;
        }
        button:hover
        {
            background-color: #008ddf;
            color: white;
            cursor: pointer;
        }
        fieldset
        {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(255, 255, 255);
            width: 80%;
            height: 60%;
            font-size: 25px;
        }
        .caixa_larga
        {
            width: 70%;
            height: 10%;
        }
        .caixa_larga1
        {
            width: 90%;
            height: 10%;
        }
        a
        {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }