body,
html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 180vw;
  background-color: #030b16;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.esquerda {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.botton {
  background-color: #2e76a000;
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.fundo {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.titulo {
  color: white;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dt {
  text-decoration: none;
  cursor: pointer;
  width: 45%;
  height: 50%;
  border-radius: 50px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #0d65b8;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  animation: slideInUp 1.5s;
  transition: 0.5s;
}

.dt:hover {
  background-color:#1a6fbe;
  color: white;
  cursor: pointer;
}

a.link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 140%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  cursor: pointer;
}

.pacotes {
  width: 95%;
  height: 26%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.meio {
  width: 400px;
  height: 550px;
  background-color: #111a25;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 20px;
  animation: slideInUp 1.5s;
  box-shadow: 1px 1px 1px 1px 10px rgba(0, 0, 0, 0.39);
  transition: 0.5s;
}

.meio:hover {
  box-shadow: 2px 2px 2px 2px 10px rgba(0, 0, 0, 0.39);
  background-color: #141e2c;
}

.botoes {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 30%;
}

.link2 {
  text-decoration: none;
  cursor: pointer;
  width: 70%;
  height: 60%;
  border-radius: 40px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color:#0d65b8;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  transition: 0.5s;
}

.link2:hover {
  background-color:#1a6fbe;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.escrita {
  color: white;
  font-size: 120%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 87%;
}

.texto {
  font-size: 150%;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  margin: 10%;
  text-align: center;
}

.texto_imagem {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.preço {
  color: #008ddf;
  font-size: 250%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parceria {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #111a25;
  width: 70%;
  padding-left: 70px;
  padding-top: 10px;
  height: 23%;
  font-size: 50px;
  border-radius: 20px;
  animation: slideInUp 1.5s;
  box-shadow: 1px 1px 1px 1px 10px rgba(0, 0, 0, 0.39);
  transition: 0.5s;
}

.parceria:hover {
  box-shadow: 2px 2px 2px 2px 10px rgba(0, 0, 0, 0.39);
  background-color: #131c27;
}

::-webkit-scrollbar

/* barra de rolagem */
  {
  width: 14px;
  background-color: rgba(0, 2, 17, 0.082);
  z-index: 1;
}

::-webkit-scrollbar-thumb

/* meio da barra de rolagem */
  {
  background-color: #001d2e;
  border-radius: 10px;
  z-index: 2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #004974;
}

.parceria_imagem {
  left: 100px;
  top: 20px;
  position: relative;
}

.imagem_filme {
  top: 50px;
  right: 0px;
  position: absolute;
}