html
{
    scroll-behavior: smooth;
}  
nav
{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #030a14;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
    z-index: 100;
    transition: 0.5s;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav:hover
{
    background-color:#0d65b8;
}
nav .logo
{
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}
nav ul
{
    display: flex;
    list-style: none;
    margin: 0.5px;
}
nav ul a
{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
}
nav ul a:hover
{
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}
