body,html
{
  height: 100vh;
  width: 100vw;
  background-color: #030b16;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  overflow:hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.resposta
{
  color: white;
  font-size: 22px;
}
.chat
{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 5%;
  width: 80%;
  left: 20px;
  position: relative;
  bottom: 10px;
}
.mensagens_
{
  margin-top: 70px;
  height: 500px;
  width: 80%;
  background-color: #111a25;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  overflow-y: scroll;
  border: solid 3px rgb(255, 255, 255);
  border-radius: 5px;
  padding-left: 15px;
}
::-webkit-scrollbar

/* barra de rolagem */
  {
  width: 14px;
  z-index: 1;
}

::-webkit-scrollbar-thumb

/* meio da barra de rolagem */
  {
  background-color: #012d47;
  border-radius: 10px;
  z-index: 2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #004974;
}
.caixa
{
  width: 70%;
  height: 80%;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding-left: 10px;
}
button.botao_enviar
{
  height: 95%;
  width: 10%;
  border-radius: 20px;
  border: none;
  background-color: #0d65b8;
  color: white;
}
.barra
{
    width: 85%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-between;
    animation: slideInDown 1.5s;
    position: fixed;
    top: 10px;
}