body,html
{
  height: 100vh;
  width: 100vw;
  background-color: #0d131a;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  overflow:hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.resposta
{
  color: white;
  font-size: 22px;
}
.chat
{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 5%;
  width: 80%;
  left: 20px;
  position: relative;
  bottom: 10px;
}
.mensagens_
{
  margin-top: 95px;
  height: 550px;
  width: 80%;
  background-color: #111a25;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  overflow-y: scroll;
  border-radius: 5px;
  border: solid;
  border-color: rgb(255, 255, 255);
  padding-left: 15px;
}
::-webkit-scrollbar 
{
    width: 14px;
    background-color: #F5F5F5;
}
  
::-webkit-scrollbar-thumb 
{
    background-color: #555;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover 
{
    background-color: #3b3b3b;
}
.caixa
{
  width: 70%;
  height: 80%;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding-left: 10px;
}
button.botao_enviar
{
  height: 95%;
  width: 10%;
  border-radius: 20px;
  border: none;
  background-color: #0d65b8;
  color: white;
}
.barra
{
    width: 85%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-between;
    animation: slideInDown 1.5s;
    position: fixed;
    top: 10px;
}