@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #010811;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.322), rgba(255, 0, 0, 0));
}

.container {
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #1e7cd3, #348bdd);
    padding: 80px 70px;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.enviar {
    padding: 10px;
    background-color: #0d65b8;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.formulario
{
    width: 100%;
    height: 100%;
}
.caixa{
    width: 50%;
    height: 30px;
}